<!--carts-->
<section class="carts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    {{#each products as |val|}}
                        <div class="cart col-lg-4 col-md-6 col-12">
                            <div class="cart-image">
                                <img src="{{ val.imagePath }}">
                            </div>
                            <div class="cart-content">
                                <h3 class="h">{{ val.productName }}</h3>
                                <p>Storage Capacity : {{val.productInformation.storageCapacity}} GB</p>
                                <p>Number Of HIM : {{val.productInformation.NumberOfHIM}}</p>
                                <p>Camera Resolution : {{val.productInformation.cameraResolution}} Mp</p>
                                <p>Display Size : {{val.productInformation.displaySize}} Inch</p>
                                <div class="row">
                                    <div class="col-6">
                                        <span>$ {{val.productPrice}}</span>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-success float-right"><a
                                                href="/addToCart/{{val._id}}">Buy</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="text-center m-auto">
                {{#Pagination pages}}{{/Pagination}}
            </div>
        </div>
    </div>
</section>