<section class="products mt-5 mb-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <a href="/users/add-product" class="btn btn-success p-3">Add Product</a>
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Processes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products as |product i|}}
                            <tr>
                                <th scope="row">{{index @i}}</th>
                                <td>{{product.productName}}</td>
                                <td>{{product.productPrice}}</td>
                                <td>
                                    <a href="/users/update-product/{{product._id}}" class="btn btn-primary">Update</a>
                                    <a href="/users/delete-product/{{product._id}}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>